@model IEnumerable<WebBanThuoc.DTOs.NhaCungCap>
@{
	int? selectedId = (int?)ViewBag.SelectedId;
}
@foreach (var item in Model)
{
	if (selectedId.HasValue && selectedId.Value == item.Id)
	{
		<option value="@item.Id" selected>@item.TenNhaCungCap</option>
	}
	<option value="@item.Id">@item.TenNhaCungCap</option>
}
